# Database
DATABASE_URL=mysql+pymysql://root:123456@localhost:3306/tutor_db

# JWT
SECRET_KEY=tutor_secret_key_change_this_in_production

# Ollama
OLLAMA_URL=http://localhost:11434/api/chat
OLLAMA_URL_G=http://localhost:11434/api/generate
OLLAMA_MODEL=giasuai
